@font-face {
  font-family: 'glamport-iconmoon';
  src:  url('../fonts/glamport-iconmoon.eot?er1f4e');
  src:  url('../fonts/glamport-iconmoon.eot?er1f4e#iefix') format('embedded-opentype'),
    url('../fonts/glamport-iconmoon.ttf?er1f4e') format('truetype'),
    url('../fonts/glamport-iconmoon.woff?er1f4e') format('woff'),
    url('../fonts/glamport-iconmoon.svg?er1f4e#glamport-iconmoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'glamport-iconmoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-solid-inst:before {
  content: "\e900";
}
.icon-solid-tg:before {
  content: "\e901";
}
.icon-solid-pinterest:before {
  content: "\e902";
}
.icon-degree:before {
  content: "\e903";
  color: #2152ff;
}
.icon-360:before {
  content: "\e904";
  color: #2152ff;
}
.icon-arrow-down:before {
  content: "\e905";
  color: #2152ff;
}
.icon-arrow-left:before {
  content: "\e906";
  color: #2152ff;
}
.icon-arrow-right:before {
  content: "\e907";
  color: #2152ff;
}
.icon-arrow-up-right:before {
  content: "\e908";
  color: #2152ff;
}
.icon-arrow-up:before {
  content: "\e909";
  color: #2152ff;
}
.icon-backsplash:before {
  content: "\e90a";
  color: #2152ff;
}
.icon-barbecue:before {
  content: "\e90b";
  color: #2152ff;
}
.icon-bathroom:before {
  content: "\e90c";
  color: #2152ff;
}
.icon-beach:before {
  content: "\e90d";
  color: #2152ff;
}
.icon-bedroom:before {
  content: "\e90e";
  color: #2152ff;
}
.icon-calendar:before {
  content: "\e90f";
  color: #2152ff;
}
.icon-camera:before {
  content: "\e910";
  color: #2152ff;
}
.icon-car-canopy:before {
  content: "\e911";
  color: #2152ff;
}
.icon-card:before {
  content: "\e912";
  color: #2152ff;
}
.icon-close:before {
  content: "\e913";
  color: #2152ff;
}
.icon-closet:before {
  content: "\e914";
  color: #2152ff;
}
.icon-communications:before {
  content: "\e915";
  color: #2152ff;
}
.icon-configure:before {
  content: "\e916";
  color: #2152ff;
}
.icon-conversation:before {
  content: "\e917";
  color: #2152ff;
}
.icon-delivery:before {
  content: "\e918";
  color: #2152ff;
}
.icon-documents:before {
  content: "\e919";
  color: #2152ff;
}
.icon-door:before {
  content: "\e91a";
  color: #2152ff;
}
.icon-Download:before {
  content: "\e91b";
  color: #2152ff;
}
.icon-drop:before {
  content: "\e91c";
  color: #2152ff;
}
.icon-dropdown-arrow:before {
  content: "\e91d";
  color: #2152ff;
}
.icon-dropdown-up:before {
  content: "\e91e";
  color: #2152ff;
}
.icon-dryer:before {
  content: "\e91f";
  color: #2152ff;
}
.icon-eco:before {
  content: "\e920";
  color: #2152ff;
}
.icon-electronics:before {
  content: "\e921";
  color: #2152ff;
}
.icon-energy:before {
  content: "\e922";
  color: #2152ff;
}
.icon-fast:before {
  content: "\e923";
  color: #2152ff;
}
.icon-fence:before {
  content: "\e924";
  color: #2152ff;
}
.icon-fireplace:before {
  content: "\e925";
  color: #2152ff;
}
.icon-foundation:before {
  content: "\e926";
  color: #2152ff;
}
.icon-full-size:before {
  content: "\e927";
  color: #2152ff;
}
.icon-furniture:before {
  content: "\e928";
  color: #2152ff;
}
.icon-globe:before {
  content: "\e929";
  color: #2152ff;
}
.icon-guarantee:before {
  content: "\e92a";
  color: #2152ff;
}
.icon-hall:before {
  content: "\e92b";
  color: #2152ff;
}
.icon-heart:before {
  content: "\e92c";
  color: #2152ff;
}
.icon-help:before {
  content: "\e92d";
  color: #2152ff;
}
.icon-home_block:before {
  content: "\e92e";
  color: #2152ff;
}
.icon-house-2:before {
  content: "\e92f";
  color: #2152ff;
}
.icon-house-color-2:before {
  content: "\e930";
  color: #2152ff;
}
.icon-house-logistic:before {
  content: "\e931";
  color: #2152ff;
}
.icon-house:before {
  content: "\e932";
  color: #2152ff;
}
.icon-iconoir_light-bulb-on:before {
  content: "\e933";
  color: #2152ff;
}
.icon-Icons:before {
  content: "\e934";
  color: #2152ff;
}
.icon-info:before {
  content: "\e935";
  color: #2152ff;
}
.icon-inst:before {
  content: "\e936";
  color: #2152ff;
}
.icon-kitchen-configuration:before {
  content: "\e937";
  color: #2152ff;
}
.icon-kitchen:before {
  content: "\e938";
  color: #2152ff;
}
.icon-lake:before {
  content: "\e939";
  color: #2152ff;
}
.icon-laundry:before {
  content: "\e93a";
  color: #2152ff;
}
.icon-letter:before {
  content: "\e93b";
  color: #2152ff;
}
.icon-lights:before {
  content: "\e93c";
  color: #2152ff;
}
.icon-living-room:before {
  content: "\e93d";
  color: #2152ff;
}
.icon-logistic:before {
  content: "\e93e";
  color: #2152ff;
}
.icon-loo:before {
  content: "\e93f";
  color: #2152ff;
}
.icon-meal:before {
  content: "\e940";
  color: #2152ff;
}
.icon-menu:before {
  content: "\e941";
  color: #2152ff;
}
.icon-minus:before {
  content: "\e942";
  color: #2152ff;
}
.icon-mirror:before {
  content: "\e943";
  color: #2152ff;
}
.icon-mountain:before {
  content: "\e944";
  color: #2152ff;
}
.icon-navigation:before {
  content: "\e945";
  color: #2152ff;
}
.icon-no-chat:before {
  content: "\e946";
  color: #2152ff;
}
.icon-ok:before {
  content: "\e947";
  color: #2152ff;
}
.icon-outdoor:before {
  content: "\e948";
  color: #2152ff;
}
.icon-parking:before {
  content: "\e949";
  color: #2152ff;
}
.icon-partition:before {
  content: "\e94a";
  color: #2152ff;
}
.icon-pause:before {
  content: "\e94b";
  color: #2152ff;
}
.icon-people:before {
  content: "\e94c";
  color: #2152ff;
}
.icon-pin:before {
  content: "\e94d";
  color: #2152ff;
}
.icon-play:before {
  content: "\e94e";
  color: #2152ff;
}
.icon-plumbing-color:before {
  content: "\e94f";
  color: #2152ff;
}
.icon-plus:before {
  content: "\e950";
  color: #2152ff;
}
.icon-pool:before {
  content: "\e951";
  color: #2152ff;
}
.icon-profile:before {
  content: "\e952";
  color: #2152ff;
}
.icon-question:before {
  content: "\e953";
  color: #2152ff;
}
.icon-right:before {
  content: "\e954";
  color: #2152ff;
}
.icon-river:before {
  content: "\e955";
  color: #2152ff;
}
.icon-room-service:before {
  content: "\e956";
  color: #2152ff;
}
.icon-sea:before {
  content: "\e957";
  color: #2152ff;
}
.icon-search:before {
  content: "\e958";
  color: #2152ff;
}
.icon-security:before {
  content: "\e959";
  color: #2152ff;
}
.icon-service:before {
  content: "\e95a";
  color: #2152ff;
}
.icon-share-2:before {
  content: "\e95b";
  color: #2152ff;
}
.icon-share:before {
  content: "\e95c";
  color: #2152ff;
}
.icon-smart-home:before {
  content: "\e95d";
  color: #2152ff;
}
.icon-square:before {
  content: "\e95e";
  color: #2152ff;
}
.icon-standart:before {
  content: "\e95f";
  color: #2152ff;
}
.icon-star:before {
  content: "\e960";
  color: #2152ff;
}
.icon-storeroom:before {
  content: "\e961";
  color: #2152ff;
}
.icon-summer:before {
  content: "\e962";
  color: #2152ff;
}
.icon-sun:before {
  content: "\e963";
  color: #2152ff;
}
.icon-switches:before {
  content: "\e964";
  color: #2152ff;
}
.icon-Temp:before {
  content: "\e965";
  color: #2152ff;
}
.icon-terrace:before {
  content: "\e966";
  color: #2152ff;
}
.icon-time:before {
  content: "\e967";
  color: #2152ff;
}
.icon-tree:before {
  content: "\e968";
  color: #2152ff;
}
.icon-wall-color:before {
  content: "\e969";
  color: #2152ff;
}
.icon-windows:before {
  content: "\e96a";
  color: #2152ff;
}
.icon-winter:before {
  content: "\e96b";
  color: #2152ff;
}
.icon-zoom-out:before {
  content: "\e96c";
  color: #2152ff;
}
.icon-zoom:before {
  content: "\e96d";
  color: #2152ff;
}
