@import "vars";
@import "fonts";
@import "base";
@import "typo";
@import "icons";
@import "colors";
@import "global";

:root {
  --vh: 1;
  --xscale: 1;
}

body {
  transition: .4s ease-in-out;
  &.__fading {
    opacity: 0;
  }
  &.__bgAlt {
    background-color: $color_bg_solid;
  }
}

.card {
  display: flex;
  pointer-events: none;

  .anim {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      width: 40px;
      height: 40px;
      border: 2px solid purple;
      background: linear-gradient(to right, red, blue);
      animation: rotate infinite 2s;
    }
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}